@import 'common/variables';
@import 'common/mixins';
@import 'common/imports';

/**************************************************
 ******* Put you code here or in subfolders *******
 *************************************************/

/******* GLOBAL *******/
.root {
  padding-top: 56px;
  // height: 100vh;

  @media (min-width: $breakpoint-sm) {
    padding-top: 64px;
  }
}

main {
  padding: 10px 20px 0;
}

a {
  text-decoration: none;

  &:focus {
    outline: none;
  }
}
/******* SECTION XXX *******/

.card-media {
  flex: 'none';
  width: 80px;
  height: 80px;

  @media (min-width: $breakpoint-sm) {
    width: 120px;
    height: 120px;
  }
}

.card-chips {
  @media (min-width: $breakpoint-md) {
    margin-bottom: 5px !important; // sass-lint:disable-line no-important
  }
}

.nav-link {
  &.active {
    h3 {
      color: color(gairal-blue) !important; // sass-lint:disable-line no-important
    }
  }
}
