@import 'common/variables';
@import 'common/mixins';
@import 'common/imports';

/**************************************************
 ******* Put you code here or in subfolders *******
 *************************************************/

/******* GLOBAL *******/
.root {
  padding-top: 64px;
  height: 100vh;
}

a {
  text-decoration: none;
}
/******* SECTION XXX *******/
