@import 'common/variables';
@import 'common/mixins';
@import 'common/imports';

/**************************************************
 ******* Put you code here or in subfolders *******
 *************************************************/

/******* GLOBAL *******/
.root {
  padding-top: 56px;
  // height: 100vh;

  @media (min-width: $breakpoint-sm) {
    padding-top: 64px;
  }
}

main {
  padding: 10px 20px 0;
}

a {
  text-decoration: none;
}
/******* SECTION XXX *******/
