doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  include head.pug

  body
    div#root.root
      noscript Arghhh ! This site will not display if JavaScript is disabled ¯\_(ツ)_/¯
      block content

    include scripts.pug
