{
  "presets": [
    "react",
    [ "env", {
      "targets": {
        "browsers": "> 2%"
      }
    }],
    "stage-0"
  ],
  "plugins": [
    ["transform-imports", {
        "react-router-dom": {
            "transform": "react-router-dom/es/${member}",
            "preventFullImport": true
        },
        "redux": {
            "transform": "redux/es/${member}",
            "preventFullImport": true
        },
        "react-google-maps/lib": {
            "transform": "react-google-maps/lib/${member}",
            "preventFullImport": true
        }
    }]
]
}
